/*Tipografías*/
/*fuente local*/
@font-face {
  font-family: fuente-principal;
  src: url('../assets/font/Inter-Regular.ttf');
}

body{
  font-family: fuente-principal, sans-serif;
}



/*Selector de tipo reset o universal*/
*{
  margin: 0;
  padding: 0;
}



/* Barra navegadora */
#barra-navegacion{
  background-color: #0F1115; 
}

a{
  text-decoration: none;
  color: #FFFFF9;
}

.pag-visit{
  text-decoration-line: underline; 
  text-decoration-style:solid;
  text-decoration-thickness: 4px; 
  text-decoration-color: #22D200;
}



/* Header */
header{
  background-color: #0F1115;
  color: #FFFFF9;
}

.img-header{
  width: 10%;
}



/* Main Home */
main{
  background-color: #0F1115;
  color: #FFFFF9;
}

.img-main{
  width: 50%;
}

.btn {
  background: #22D200;
  background-image: -webkit-linear-gradient(top, #22D200, #27b30b);
  background-image: -moz-linear-gradient(top, #22D200, #27b30b);
  background-image: -ms-linear-gradient(top, #22D200, #27b30b);
  background-image: -o-linear-gradient(top, #22D200, #27b30b);
  background-image: linear-gradient(to bottom, #22D200, #27b30b);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: fuente-principal;
  color: #FFFFF9;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #22D200;
  text-decoration: none;
}

.img-arrow {
  width: 20px;
}



/* Main Contact */
.form {
  background-color: #FFFFF9;
  color: #0F1115;
}

.btn2 {
  background: #0F1115;
  background-image: -webkit-linear-gradient(top, #0F1115, #000000);
  background-image: -moz-linear-gradient(top, #0F1115, #000000);
  background-image: -ms-linear-gradient(top, #0F1115, #000000);
  background-image: -o-linear-gradient(top, #0F1115, #000000);
  background-image: linear-gradient(to bottom, #0F1115, #000000);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: fuente-principal;
  color: #FFFFF9;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


/* Section 1 Home */
.img-portada {
  width: 50%;
}



/* footer */
footer {
  background-color: #0F1115;
  color: #FFFFF9;
}

.img-footer {
  width: 20%;
}